html
	head
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Roboto')
		link(rel='stylesheet', href='/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title 404
	body
		p.dark 404 Error
