html
	head
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Roboto')
		link(rel='stylesheet', href='/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title RPI Server
	body
		.card
			.inline
				img(src='/rpi.svg', alt='Raspberry Pi', height='64px', width='64px')
			.inline
				h2 RPI Server
				p #{ip}
			.clearfix
			br
			p.small.left memory
			p.small.right #{memory}%
			.clearfix
			.bar-wrapper
				.bar(style=`width:${memory}%;`)
