html
	head
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Roboto')
		link(rel='stylesheet', href='/style.css')
		title RPI Server
	body.fill-screen
		.card
			.inline
				img(src='/rpi.svg', alt='Raspberry Pi', height='64px', width='64px')
			.inline
				h2 RPI Server
				p #{ip}
			.clearfix
			br
			p.title.left memory
			p.title.right #{memory}%
			.clearfix
			.bar-wrapper
				.bar(style=`width:${memory}%;`)
