doctype
html
	head
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Roboto')
		link(rel='stylesheet', href='/style.css')
		title RPI Server
	body.fill-screen
		.card
			.inline
				img(src='/arch.svg', alt='Arch Linux', height='64px', width='64px')
			.inline
				h2 RPI Server
				p #{ip}
